/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');

body {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 400;
  font-style: normal;
}

.font-regular {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  font-style: normal;
}

.font-italic {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 400;
  font-style: italic;
}